// Base
$primary: #222d3f;
$background: #f2f3f6;
$success: #108ab5;
$white: white;


// Panels
$heading-text: #333435;
$border-color: #e2e3e3;
$border-radius: 6px;
$box-shadow: 0 2px 6px 0px rgba(0,0,0,.2);
$panel-heading-weight: bold;
$panel-image-size: 60px;
$panel-body-padding: 20px;
$panel-heading-padding: 20px;
$panel-footer-bg: $white;
$panel-title-size: 20px;

// Navbar
$navbar-text: #abacac; 

// Navs
$nav-pill-color: #abacac;

// Inactive
$inactive-background: #f4f5f9;
$inactive-text: #88898b;

// Text
$text-muted: #999a9a;
$text-success: #53b826;

// Buttons
$btn-font-weight: 600;
$btn-font-size: 15px;
$btn-icon-size: $btn-font-size;
$btn-default-color: #88898b;